<app-header></app-header>
<mat-divider></mat-divider>
<app-carousel-home></app-carousel-home>
<mat-divider></mat-divider>
<br/>
<h3 class="justify-center">Our Team:</h3>
<br/>
<br/>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-7 vertical-center">
      <h3>Sriram Chandran</h3>
      <h4>Co-Founder, Technical Lead & Business Development</h4>
      Leads technical development and business strategies with expertise in nanoscience and sensor design.
    </div>
    <div class="col-sm-4">
      <img class="image-carousel" src="/assets/images/someone.jpg" alt="Random first slide" />
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-7">
      <img class="image-carousel" src="/assets/images/one.jpg" alt="Random first slide" />
    </div>
    <div class="col-sm-4 vertical-center">
      <h3>Saravanakumar Dharmaraj</h3>
      <h4>Co-Founder & R&D Lead</h4>
      Heads research and development with a focus on innovative aquaculture solutions, leveraging his background in
      nanoscience and engineering.
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-7 vertical-center">
      <h3>Ebinesh</h3>
      <h4>Electronics Expert & Sensor Integration Specialist</h4>
      Manages sensor development and electronics integration with over 10 years of experience in the field.
    </div>
    <div class="col-sm-4">
      <img class="image-carousel" src="/assets/images/another.jpg" alt="Random first slide" />
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
<br/>
<main class="main">
  <div class="content">
    <div>
      <h3>Our Advisors:</h3>
      <br/>
      <h4>Dr. Akshya Panigrahi - Principal Scientist, CIBA, Chennai.</h4>
      <p> Provides insights on fish health during robot operations.</p>
      <br/>
      <br/>
      <h4>Dr. M. Muralidhar - Principal Scientist, CIBA, Chennai.</h4>
      <p>Offers guidance on sensor R&D and soil health.</p>
      <br/>
      <br/>
      <h4>Dr. Prosenjit Sen - Associate Professor, IISc.</h4>
      <p>Advises on microfluidics and nanotechnology for sensor development.</p>
      <br/>
      <br/>
      <h4>Suresh Sambandam - CEO of Kissflow.</h4>
      <p>Mentors on business strategy and scaling.</p>
      <br/>
      <br/>
      <br/>
      <h3>Contact Us:</h3>
      Reach out to us to learn more about how we can transform your aquaculture practices.
      <ul>
        <li>Email: tealaainnovations&#64;gmail.com</li>
        <li>Phone: +91-9962123622</li>
        <li>Address: Tealaa Innovations Private Limited, Bangalore, India</li>
    </ul>
    </div>
  </div>
</main>
<app-footer></app-footer>