<ngb-carousel [interval]="3000">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="image-carousel" src="/assets/images/close-up-photo-fish.jpg" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h3>OUR VISION</h3>
            <p>Suatainable Fish Farming</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="image-carousel" src="/assets/images/two-grey-fish.jpg" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
            <h3>OUR OBJECTIVE</h3>
            <p>Suatainable Fish Farming</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="image-carousel" src="/assets/images/thicklip-grey-mullet.jpg" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>DISCOVER WITH US</h3>
            <p>Suatainable Fish Farming</p>
        </div>
    </ng-template>
</ngb-carousel>